<!DOCTYPE>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="estilos.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="form.js"></script>
	</head>
	<body>
		<form id="formularioNombre">
			<input type="text" name="nombre" id="nombre" />
			<br/>
			<input type="text" name="apellido" id="apellido" />
			<br/>
			<input type="submit" value="Enviar">
		</form>
		<div id="usuario"></div>
		<br/>
		<button id="limpiar">Limpiar</button>
	</body>
</html>